*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 2rem;
}
#mybutton {
    background-color: orange;
    color: white;
    padding: 0.25rem 1rem;
    border: none;
    border-radius: 1rem;
}
h1{
    font-size: 5rem;
}